.featureCard {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 16%);
  max-width: calc(33% - 100px);
}

.featureCardImage {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.featureCardText {
  padding: 16px;
}

.featureCardTitle {
  font-size: 26px;
  font-weight: 900;
}

.featureCardDescription {
  font-size: 16px;
  margin-bottom: 0;
}

@media (max-width: 1330px) {
  .featureCard {
    max-width: calc(50% - 16px);
  }
}

@media (max-width: 768px) {
  .featureCard {
    max-width: 100%;
    margin-bottom: 24px;
    margin-right: 0;
  }

  .featureCardTitle {
    font-size: 20px;
  }

  .featureCardDescription {
    font-size: 14px;
  }
}
