.root {
  /* width: 512px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.anim {
  max-width: 512px;
  max-height: 340px;
  width: calc(100vw - var(--ifm-spacing-horizontal) * 4);
  height: calc(70vw - var(--ifm-spacing-horizontal) * 4);
}

.searchField {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 8px;
  padding-left: 16px;
  border-radius: 8px;
  border: 2px solid #559fff;
  box-shadow: 0 0 0 5px #559fff66;
  width: 95%;
  max-width: 500px;
  color: #666;
  font-size: 1rem;
  font-weight: 600;
}

.searchField svg {
  margin-right: 16px;
}

.searchField span {
  transition: opacity 0.5s;
}
