version: "3.5"
services:
  rabbitmq:
    image: rabbitmq:4.1.0-management
    container_name: rabbitmq
    hostname: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: openk9
      RABBITMQ_DEFAULT_PASS: openk9
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: "bash -c ':> /dev/tcp/127.0.0.1/15672' || exit 1"
      interval: 10s
      timeout: 10s
      retries: 5
  opensearch:
    image: docker.io/opensearchproject/opensearch:2.19.1
    container_name: opensearch
    hostname: opensearch
    environment:
      - node.name=opensearch
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=PsFFF776Ian4
      - plugins.security.disabled=true
      - discovery.type=single-node
      # TODO: verify how to set credentials
    ports:
      - "9200:9200"
    healthcheck:
      test: "curl -f http://localhost:9200"
      interval: 10s
      timeout: 10s
      retries: 5
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
    - opensearch-data:/usr/share/opensearch/data
  postgresql:
    image: postgres:16
    hostname: postgresql
    environment:
      - POSTGRES_MULTIPLE_DATABASES=openk9,tenantmanager,keycloak
      - POSTGRES_PASSWORD=openk9
      - POSTGRES_USER=postgres
      - OPENK9_USER=openk9
      - OPENK9_PASSWORD=openk9
    ports:
      - "5432:5432"
    healthcheck:
      test: "bash -c ':> /dev/tcp/127.0.0.1/5432' || exit "
      interval: 10s
      timeout: 10s
      retries: 5
    volumes:
      - ./compose-utilities:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9090"
    ports:
      - "9000:9000"
      - "9090:9090"
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123
    volumes:
      - minio-data:/data
  adminer:
    image: adminer
    restart: always
    ports:
      - 5050:8080
  keycloak:
    image: bitnami/keycloak:26.1.3-debian-12-r0
    hostname: keycloak.openk9.localhost
    environment:
      KEYCLOAK_CREATE_ADMIN_USER: 'true'
      KEYCLOAK_ADMIN_USER: user
      KEYCLOAK_ADMIN_PASSWORD: openk9
      KEYCLOAK_DATABASE_VENDOR: postgresql
      KEYCLOAK_DATABASE_HOST: postgresql
      KEYCLOAK_DATABASE_PORT: 5432
      KEYCLOAK_DATABASE_NAME: keycloak
      KEYCLOAK_DATABASE_USER: postgres
      KEYCLOAK_DATABASE_SCHEMA: public
      KEYCLOAK_DATABASE_PASSWORD: openk9
      KEYCLOAK_HTTP_PORT: 8081
    healthcheck:
      test: "curl -f http://localhost:8081"
      interval: 10s
      timeout: 10s
      retries: 5
    ports:
      - 8081:8081
    depends_on:
      postgresql:
        condition: service_healthy
    networks:
      default:
        aliases:
          - keycloak.openk9.localhost
  tenant-manager:
    image: smclab/openk9-tenant-manager:3.0.0-SNAPSHOT
    hostname: openk9-tenant-manager
    environment:
      QUARKUS_DATASOURCE_USERNAME: 'postgres'
      QUARKUS_DATASOURCE_PASSWORD: 'openk9'
      QUARKUS_DATASOURCE_REACTIVE_URL: 'postgresql://postgresql/tenantmanager'
      OPENK9_DATASOURCE_URL: 'postgresql://postgresql/openk9'
      QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION: 'none'
      QUARKUS_HIBERNATE_ORM_LOG_SQL: 'false'
      QUARKUS_HTTP_ACCESS_LOG_ENABLED: 'true'
      QUARKUS_HTTP_ACCESS_LOG_PATTERN: '%h %l %u %t "%r" %s %b %D'
      QUARKUS_HTTP_CORS: 'true'
      QUARKUS_HTTP_CORS_ORIGINS : /.*/
      QUARKUS_LOG_LEVEL: 'INFO'
      QUARKUS_KEYCLOAK_ADMIN_CLIENT_USERNAME: 'user'
      QUARKUS_KEYCLOAK_ADMIN_CLIENT_PASSWORD: 'openk9'
      QUARKUS_KEYCLOAK_ADMIN_CLIENT_SERVER_URL: 'http://keycloak.openk9.localhost:8081'
      QUARKUS_OIDC_AUTH_SERVER_URL: 'http://keycloak.openk9.localhost:8081/realms/tenant-manager'
      QUARKUS_OIDC_CLIENT_ID: 'tenant-manager'
      QUARKUS_OTEL_SDK_DISABLED: 'true'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
    ports:
      - 8186:8080
    depends_on:
      keycloak:
        condition: service_healthy
      postgresql:
        condition: service_healthy
  datasource:
    image: smclab/openk9-datasource:3.0.0-SNAPSHOT
    hostname: openk9-datasource
    environment:
      PEKKO_CLUSTER_BOOTSTRAP_SERVICE_NAME: 'datasource'
      PEKKO_CLUSTER_FILE: 'local'
      IO_OPENK9_SCHEDULING_PURGE_CRON: '0 */10 * ? * *'
      IO_OPENK9_SCHEDULING_PURGE_MAX_AGE: '2d'
      IO_OPENK9_SCHEDULING_TIMEOUT: '100s'
      JAVA_DEBUG: 'true'
      MP_MESSAGING_INCOMING_EVENTS_ROUTING_KEYS: 'noop'
      OPENK9_AUTHSERVERURL_TEMPLATE: 'http://keycloak.openk9.localhost:8081/realms/{realm}'
      OPENK9_DATASOURCE_ACL_QUERY_EXTRA_PARAMS_ENABLED: 'true'
      OPENK9_DATASOURCE_MULTITENANCY_ENABLED: 'true'
      QUARKUS_DATASOURCE_PASSWORD: 'openk9'
      QUARKUS_DATASOURCE_REACTIVE_URL: 'postgresql://postgresql/openk9'
      QUARKUS_DATASOURCE_USERNAME: 'postgres'
      QUARKUS_OPENSEARCH_HOSTS: 'opensearch:9200'
      QUARKUS_OPENSEARCH_PASSWORD: 'admin'
      QUARKUS_OPENSEARCH_USERNAME: 'admin'
      QUARKUS_GRPC_CLIENTS__TENANTMANAGER__HOST: 'tenant-manager'
      QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION: none
      QUARKUS_HIBERNATE_ORM_LOG_SQL: 'false'
      QUARKUS_HTTP_ACCESS_LOG_ENABLED: 'true'
      QUARKUS_HTTP_ACCESS_LOG_PATTERN: '%h %l %u %t "%r" %s %b %D'
      QUARKUS_HTTP_CORS: 'true'
      QUARKUS_HTTP_CORS_ORIGINS : '/.*/'
      QUARKUS_HTTP_LIMITS_MAX_BODY_SIZE: '20480K'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
      QUARKUS_LOG_LEVEL: 'INFO'
      QUARKUS_OIDC_AUTH_SERVER_URL: 'http://keycloak.openk9.localhost:8081/realms/master'
      QUARKUS_OIDC_CLIENT_ID: 'openk9'
      QUARKUS_REST_CLIENT_KEYCLOAK_CLIENT_URL: 'http://keycloak.openk9.localhost:8081'
      QUARKUS_SMALLRYE_GRAPHQL_UI_ALWAYS_INCLUDE: 'true'
      RABBITMQ_HOST: 'rabbitmq'
      RABBITMQ_PASSWORD: 'openk9'
      RABBITMQ_PORT: '5672'
      RABBITMQ_USERNAME: 'openk9'
      QUARKUS_HTTP_PROXY_PROXY_ADDRESS_FORWARDING: 'true'
      QUARKUS_HTTP_PROXY_ALLOW_X_FORWARDED: 'true'
      QUARKUS_HTTP_PROXY_ENABLE_FORWARDED_HOST: 'true'
      QUARKUS_HTTP_PROXY_ENABLE_FORWARDED_PREFIX: 'true'
      QUARKUS_OTEL_SDK_DISABLED: 'true'
    ports:
      - 8185:8080
    depends_on:
      rabbitmq:
        condition: service_healthy
      opensearch:
        condition: service_healthy
      keycloak:
        condition: service_healthy
      postgresql:
        condition: service_healthy
  ingestion:
    image: smclab/openk9-ingestion:3.0.0-SNAPSHOT
    container_name: ingestion
    environment:
      RABBITMQ_HOST: 'rabbitmq'
      RABBITMQ_PASSWORD: 'openk9'
      RABBITMQ_USERNAME: 'openk9'
      RABBITMQ_PORT: '5672'
      QUARKUS_HTTP_ACCESS_LOG_ENABLED: 'true'
      QUARKUS_HTTP_ACCESS_LOG_PATTERN: '%h %l %u %t "%r" %s %b %D'
      QUARKUS_HTTP_LIMITS_MAX_BODY_SIZE: '10240K'
      QUARKUS_REST_CLIENT_FILE_MANAGER_URL: http://file-manager:8080
      QUARKUS_OTEL_SDK_DISABLED: 'true'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
    ports:
      - 8187:8080
    depends_on:
      rabbitmq:
        condition: service_healthy
  searcher:
    image: smclab/openk9-searcher:3.0.0-SNAPSHOT
    container_name: searcher
    environment:
      OPENK9_AUTHSERVERURL_TEMPLATE: http://keycloak.openk9.localhost:8081/realms/{realm}
      OPENK9_DATASOURCE_MULTITENANCY_ENABLED: 'true'
      QUARKUS_OPENSEARCH_HOSTS: opensearch:9200
      QUARKUS_OPENSEARCH_USERNAME: elastic
      QUARKUS_GRPC_CLIENTS__SEARCHER__HOST: openk9-datasource
      QUARKUS_GRPC_CLIENTS__TENANTMANAGER__HOST: openk9-tenant-manager
      QUARKUS_OIDC_AUTH_SERVER_URL: http://keycloak.openk9.localhost:8081/realms/master
      QUARKUS_OIDC_CLIENT_ID: openk9
      QUARKUS_REST_CLIENT_KEYCLOAK_CLIENT_URL: http://keycloak.openk9.localhost:8081
      QUARKUS_HTTP_PROXY_PROXY_ADDRESS_FORWARDING: 'true'
      QUARKUS_HTTP_PROXY_ALLOW_X_FORWARDED: 'true'
      QUARKUS_HTTP_PROXY_ENABLE_FORWARDED_HOST: 'true'
      QUARKUS_HTTP_PROXY_ENABLE_FORWARDED_PREFIX: 'true'
      QUARKUS_OTEL_SDK_DISABLED: 'true'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
    ports:
      - 8188:8080
    depends_on:
      opensearch:
        condition: service_healthy
      keycloak:
        condition: service_healthy
  file-manager:
    image: smclab/openk9-file-manager:3.0.0-SNAPSHOT
    container_name: file-manager
    environment:
      QUARKUS_HTTP_ACCESS_LOG_ENABLED: 'true'
      QUARKUS_HTTP_ACCESS_LOG_PATTERN: '%h %l %u %t "%r" %s %b %D'
      QUARKUS_HTTP_LIMITS_MAX_BODY_SIZE: '10240K'
      QUARKUS_OTEL_SDK_DISABLED: 'true'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
      QUARKUS_MINIO_ACCESS_KEY: 'minio'
      QUARKUS_MINIO_SECRET_KEY: 'minio123'
      QUARKUS_MINIO_URL: 'http://minio:9000'
      QUARKUS_GRPC_CLIENTS__FILEMANAGER__HOST: 'datasource'
  tika:
    image: smclab/openk9-tika:3.0.0-SNAPSHOT
    container_name: tika
    environment:
      QUARKUS_HTTP_ACCESS_LOG_ENABLED: 'true'
      QUARKUS_HTTP_ACCESS_LOG_PATTERN: '%h %l %u %t "%r" %s %b %D'
      QUARKUS_HTTP_LIMITS_MAX_BODY_SIZE: '10240K'
      QUARKUS_OTEL_SDK_DISABLED: 'true'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
      OPENK9_TIKA_OCR_CHARACTER_LENGTH: '10'
      OPENK9_TIKA_OCR_ENABLED: 'true'
      OPENK9_TIKA_POOL_SIZE: '1'
      QUARKUS_REST_CLIENT_DATASOURCE_URL: 'http://datasource:8080'
      QUARKUS_REST_CLIENT_FILE_MANAGER_URL: 'http://file-manager:8080'
  web-parser:
    image: smclab/openk9-web-parser:latest
    container_name: web-parser
    ports:
      - "5001:5000"
      - "6800:6800"
  rag-module:
    image: smclab/openk9-rag-module:3.0.0-SNAPSHOT
    container_name: rag-module
    environment:
      ORIGINS: '*'
      OPENSEARCH_USERNAME: 'opensearch'
      OPENSEARCH_HOST: 'opensearch:9200'
      GRPC_DATASOURCE_HOST : datasource:9000
      GRPC_TENANT_MANAGER_HOST : tenant-manager:9000
      KEYCLOAK_URL : http://keycloak.openk9.localhost:8081/
      KEYKLOAK_INFO_API_URL : http://datasource/api/datasource/oauth2/settings
      REWRITE_QUESTION: 'false'
  embedding-module:
    image: smclab/openk9-embedding-module-base:3.0.0-SNAPSHOT
    container_name: embedding-module
    environment:
      ORIGINS: '*'
  search-frontend:
    image: smclab/openk9-search-frontend:3.0.0-SNAPSHOT
    container_name: search-frontend
    ports:
      - "8084:80"
  talk-to:
    image: smclab/openk9-talk-to:3.0.0-SNAPSHOT
    container_name: talk-to
    ports:
      - "8085:80"
  admin-ui:
    image: smclab/openk9-admin-ui:3.0.0-SNAPSHOT
    ports:
      - "8082:80"
  gateway:
      image: smclab/openk9-gw:2.0.0
      hostname: gateway
      ports:
          - '80:8080'

volumes:
  opensearch-data: 
  postgres-data:
  minio-data:
