# version: "3.5" # deprecated
services:
  rabbitmq:
    image: rabbitmq:4.1.0-management
    container_name: rabbitmq
    hostname: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: openk9
      RABBITMQ_DEFAULT_PASS: openk9
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: "bash -c ':> /dev/tcp/127.0.0.1/15672' || exit 1"
      interval: 10s
      timeout: 10s
      retries: 10
  opensearch:
    image: docker.io/opensearchproject/opensearch:2.19.1
    container_name: opensearch
    hostname: opensearch
    environment:
      - node.name=opensearch
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "DISABLE_INSTALL_DEMO_CONFIG=true"
      - "DISABLE_SECURITY_PLUGIN=true"
      - "DISABLE_PERFORMANCE_ANALYZER_AGENT_CLI=true"
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      # The environment variable below is necessary when you
      # run the opensearch image with an ARM64 chip.
      # More details at https://github.com/elastic/elasticsearch/issues/118583#issuecomment-2567270484
      # - "_JAVA_OPTIONS=-XX:UseSVE=0"
    ports:
      - 9200:9200
    healthcheck:
      test: "curl --silent --fail http://localhost:9200/_cluster/health"
      interval: 10s
      timeout: 10s
      retries: 10
    ulimits:
      nofile:
        soft: 65536 # Maximum number of open files for the opensearch user - set to at least 65536
        hard: 65536
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
  postgresql:
    image: postgres:16
    container_name: postgresql
    hostname: postgresql
    environment:
      - POSTGRES_MULTIPLE_DATABASES=keycloak,tenantmanager,apigateway,openk9
      - POSTGRES_PASSWORD=openk9
      - POSTGRES_USER=postgres
      - OPENK9_USER=openk9
      - OPENK9_PASSWORD=openk9
    ports:
      - "5432:5432"
    healthcheck:
      test: "bash -c ':> /dev/tcp/127.0.0.1/5432' || exit "
      interval: 10s
      timeout: 10s
      retries: 10
    volumes:
      - ./compose-utilities:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9090"
    ports:
      - "9000:9000"
      - "9090:9090"
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123
    volumes:
      - minio-data:/data
  keycloak:
    image: bitnamilegacy/keycloak:26.1.3-debian-12-r0
    hostname: keycloak.openk9.localhost
    environment:
      KEYCLOAK_CREATE_ADMIN_USER: 'true'
      KEYCLOAK_ADMIN_USER: user
      KEYCLOAK_ADMIN_PASSWORD: openk9
      KEYCLOAK_DATABASE_VENDOR: postgresql
      KEYCLOAK_DATABASE_HOST: postgresql
      KEYCLOAK_DATABASE_PORT: 5432
      KEYCLOAK_DATABASE_NAME: keycloak
      KEYCLOAK_DATABASE_USER: postgres
      KEYCLOAK_DATABASE_SCHEMA: public
      KEYCLOAK_DATABASE_PASSWORD: openk9
      KEYCLOAK_HTTP_PORT: 8081
    healthcheck:
      test: "curl --silent -fail http://localhost:8081"
      interval: 10s
      timeout: 10s
      retries: 10
    ports:
      - 8081:8081
    depends_on:
      postgresql:
        condition: service_healthy
    networks:
      default:
        aliases:
          - keycloak.openk9.localhost
  tenant-manager:
    image: openk9/openk9-tenant-manager:999-SNAPSHOT
    container_name: tenant-manager
    hostname: tenant-manager
    environment:
      RABBITMQ_HOST: 'rabbitmq'
      RABBITMQ_PASSWORD: 'openk9'
      RABBITMQ_USERNAME: 'openk9'
      RABBITMQ_PORT: '5672'
      QUARKUS_DATASOURCE_USERNAME: 'openk9'
      QUARKUS_DATASOURCE_PASSWORD: 'openk9'
      QUARKUS_DATASOURCE_REACTIVE_URL: 'postgresql://postgresql/tenantmanager'
      OPENK9_DATASOURCE_URL: 'postgresql://postgresql/openk9'
      QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION: 'none'
      QUARKUS_HIBERNATE_ORM_LOG_SQL: 'false'
      QUARKUS_HTTP_ACCESS_LOG_ENABLED: 'true'
      QUARKUS_HTTP_ACCESS_LOG_PATTERN: '%h %l %u %t "%r" %s %b %D'
      QUARKUS_HTTP_CORS: 'true'
      QUARKUS_HTTP_CORS_ORIGINS: /.*/
      QUARKUS_LOG_LEVEL: 'INFO'
      QUARKUS_KEYCLOAK_ADMIN_CLIENT_USERNAME: 'user'
      QUARKUS_KEYCLOAK_ADMIN_CLIENT_PASSWORD: 'openk9'
      QUARKUS_KEYCLOAK_ADMIN_CLIENT_SERVER_URL: 'http://keycloak.openk9.localhost:8081'
      QUARKUS_OTEL_SDK_DISABLED: 'true'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
      OPENK9_TENANT_MANAGER_KEYCLOAK_BASE_ISSUER_URI: 'http://keycloak.openk9.localhost:8081/realms/'
      OPENK9_TENANT_MANAGER_SECURITY_ADMIN_PASSWORD: 'admin'
    ports:
      - 8186:8080
    depends_on:
      rabbitmq:
        condition: service_healthy
      keycloak:
        condition: service_healthy
      postgresql:
        condition: service_healthy
    healthcheck:
      test: "curl --silent --fail http://localhost:8080/q/health"
      interval: 10s
      timeout: 10s
      retries: 10
  caddy:
    image: caddy:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./compose-utilities/Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
    depends_on:
      - api-gateway
  api-gateway:
    image: openk9/api-gateway:latest
    environment:
      SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_TRUSTED_PROXIES: .*
      SPRING_LIQUIBASE_URL: jdbc:postgresql://postgresql/apigateway
      SPRING_LIQUIBASE_USER: openk9
      SPRING_LIQUIBASE_PASSWORD: openk9
      SPRING_R2DBC_URL: r2dbc:postgresql://postgresql/apigateway
      SPRING_R2DBC_USERNAME: openk9
      SPRING_R2DBC_PASSWORD: openk9
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_USERNAME: openk9
      SPRING_RABBITMQ_PASSWORD: openk9
    hostname: api-gateway
    healthcheck:
      test: "curl --insecure --silent --fail https://localhost:8081/actuator/health"
      interval: 10s
      timeout: 10s
      retries: 10
  datasource:
    image: openk9/openk9-datasource:999-SNAPSHOT
    container_name: datasource
    hostname: openk9-datasource
    environment:
      PEKKO_CLUSTER_BOOTSTRAP_SERVICE_NAME: 'datasource'
      PEKKO_CLUSTER_FILE: 'local'
      IO_OPENK9_SCHEDULING_PURGE_CRON: '0 */10 * ? * *'
      IO_OPENK9_SCHEDULING_PURGE_MAX_AGE: '2d'
      IO_OPENK9_SCHEDULING_TIMEOUT: '100s'
      JAVA_DEBUG: 'true'
      MP_MESSAGING_INCOMING_EVENTS_ROUTING_KEYS: 'noop'
      OPENK9_DATASOURCE_ACL_QUERY_EXTRA_PARAMS_ENABLED: 'true'
      OPENK9_DATASOURCE_QUERY_PARSER_MAX_TEXT_QUERY_LENGTH: '0'
      OPENK9_DATASOURCE_QUERY_ANALYSIS_SEARCH_TEXT_LENGTH: '30'
      QUARKUS_HTTP_AUTH_PERMISSION__ADMINISTRATOR__ENABLED: false
      QUARKUS_DATASOURCE_PASSWORD: 'openk9'
      QUARKUS_DATASOURCE_REACTIVE_URL: 'postgresql://postgresql/openk9'
      QUARKUS_DATASOURCE_USERNAME: 'openk9'
      QUARKUS_OPENSEARCH_HOSTS: 'opensearch:9200'
      QUARKUS_OPENSEARCH_PASSWORD: 'admin'
      QUARKUS_OPENSEARCH_USERNAME: 'admin'
      QUARKUS_GRPC_CLIENTS__TENANTMANAGER__HOST: 'tenant-manager'
      QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION: none
      QUARKUS_HIBERNATE_ORM_LOG_SQL: 'false'
      QUARKUS_HTTP_ACCESS_LOG_ENABLED: 'true'
      # QUARKUS_HTTP_ACCESS_LOG_PATTERN: '%h %l %u %t "%r" %s %b %D'
      QUARKUS_HTTP_ACCESS_LOG_PATTERN: 'long'
      QUARKUS_HTTP_CORS: 'true'
      QUARKUS_HTTP_CORS_ORIGINS: '/.*/'
      QUARKUS_HTTP_LIMITS_MAX_BODY_SIZE: '20480K'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
      QUARKUS_LOG_LEVEL: 'INFO'
      QUARKUS_SMALLRYE_GRAPHQL_UI_ALWAYS_INCLUDE: 'true'
      RABBITMQ_HOST: 'rabbitmq'
      RABBITMQ_PASSWORD: 'openk9'
      RABBITMQ_PORT: '5672'
      RABBITMQ_USERNAME: 'openk9'
      QUARKUS_OTEL_SDK_DISABLED: 'true'
    ports:
      - 8185:8080
    depends_on:
      rabbitmq:
        condition: service_healthy
      opensearch:
        condition: service_healthy
      keycloak:
        condition: service_healthy
      postgresql:
        condition: service_healthy
    healthcheck:
      test: "curl --silent --fail http://localhost:8080/q/health"
      interval: 10s
      timeout: 10s
      retries: 10
  ingestion:
    image: smclab/openk9-ingestion:3.1.0-SNAPSHOT
    container_name: ingestion
    environment:
      RABBITMQ_HOST: 'rabbitmq'
      RABBITMQ_PASSWORD: 'openk9'
      RABBITMQ_USERNAME: 'openk9'
      RABBITMQ_PORT: '5672'
      QUARKUS_HTTP_ACCESS_LOG_ENABLED: 'true'
      QUARKUS_HTTP_ACCESS_LOG_PATTERN: '%h %l %u %t "%r" %s %b %D'
      QUARKUS_HTTP_LIMITS_MAX_BODY_SIZE: '10240K'
      QUARKUS_REST_CLIENT_FILE_MANAGER_URL: http://file-manager:8080
      QUARKUS_OTEL_SDK_DISABLED: 'true'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
    depends_on:
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: "curl --silent --fail http://localhost:8080/q/health"
      interval: 10s
      timeout: 10s
      retries: 10
  searcher:
    image: openk9/openk9-searcher:999-SNAPSHOT
    container_name: searcher
    environment:
      QUARKUS_OPENSEARCH_HOSTS: opensearch:9200
      QUARKUS_OPENSEARCH_USERNAME: elastic
      QUARKUS_GRPC_CLIENTS__SEARCHER__HOST: 'datasource'
      QUARKUS_OTEL_SDK_DISABLED: 'true'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
    depends_on:
      opensearch:
        condition: service_healthy
    healthcheck:
      test: "curl --silent --fail http://localhost:8080/q/health"
      interval: 10s
      timeout: 10s
      retries: 10
  file-manager:
    image: smclab/openk9-file-manager:3.1.0-SNAPSHOT
    container_name: file-manager
    environment:
      QUARKUS_HTTP_ACCESS_LOG_ENABLED: 'true'
      QUARKUS_HTTP_ACCESS_LOG_PATTERN: '%h %l %u %t "%r" %s %b %D'
      QUARKUS_HTTP_LIMITS_MAX_BODY_SIZE: '10240K'
      QUARKUS_OTEL_SDK_DISABLED: 'true'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
      QUARKUS_MINIO_ACCESS_KEY: 'minio'
      QUARKUS_MINIO_SECRET_KEY: 'minio123'
      QUARKUS_MINIO_SECURE: 'false'
      QUARKUS_MINIO_URL: 'http://minio:9000'
      QUARKUS_GRPC_CLIENTS__FILEMANAGER__HOST: 'datasource'
    healthcheck:
      test: "curl --silent --fail http://localhost:8080/q/health"
      interval: 10s
      timeout: 10s
      retries: 10
  tika:
    image: smclab/openk9-tika:3.1.0-SNAPSHOT
    container_name: tika
    environment:
      QUARKUS_HTTP_ACCESS_LOG_ENABLED: 'true'
      QUARKUS_HTTP_ACCESS_LOG_PATTERN: '%h %l %u %t "%r" %s %b %D'
      QUARKUS_HTTP_LIMITS_MAX_BODY_SIZE: '10240K'
      QUARKUS_OTEL_SDK_DISABLED: 'true'
      QUARKUS_LOG_CONSOLE_JSON: 'false'
      OPENK9_TIKA_OCR_CHARACTER_LENGTH: '10'
      OPENK9_TIKA_OCR_ENABLED: 'true'
      OPENK9_TIKA_POOL_SIZE: '1'
      QUARKUS_REST_CLIENT_DATASOURCE_URL: 'http://datasource:8080'
      QUARKUS_REST_CLIENT_FILE_MANAGER_URL: 'http://file-manager:8080'
    healthcheck:
      test: "curl --silent --fail http://localhost:8080/q/health"
      interval: 10s
      timeout: 10s
      retries: 10
  web-connector:
    image: smclab/openk9-web-connector:3.1.0-SNAPSHOT
    container_name: web-connector
    ports:
      - "5001:5000"
      - "6800:6800"
  minio-connector:
    image: smclab/openk9-minio-connector:3.1.0-SNAPSHOT
    container_name: minio-connector
    ports:
      - "5002:5000"
  rag-module:
    image: smclab/openk9-rag-module:3.1.0-SNAPSHOT
    container_name: rag-module
    environment:
      ORIGINS: '*'
      OPENSEARCH_USERNAME: 'opensearch'
      OPENSEARCH_HOST: 'opensearch:9200'
      GRPC_DATASOURCE_HOST: 'datasource:9000'
      GRPC_TENANT_MANAGER_HOST: 'tenant-manager:9000'
      GRPC_EMBEDDING_MODULE_HOST: 'embedding-module:5000'
      KEYCLOAK_URL: 'http://keycloak.openk9.localhost:8081'
      UPLOAD_DIR: 'uploads'
      UPLOAD_FILE_EXTENSIONS: '[".pdf",".md",".docx",".xlsx",".pptx",".csv"]'
      MAX_UPLOAD_FILE_SIZE: '10'
      MAX_UPLOAD_FILES_NUMBER: '5'
  embedding-module:
    image: smclab/openk9-embedding-module-base:3.1.0-SNAPSHOT
    container_name: embedding-module
    environment:
      ORIGINS: '*'
  search-frontend:
    image: smclab/openk9-search-frontend:3.1.0-SNAPSHOT
    container_name: search-frontend
  talk-to:
    image: smclab/openk9-talk-to:3.1.0-SNAPSHOT
    container_name: talk-to
  admin-ui:
    image: smclab/openk9-admin-ui:3.1.0-SNAPSHOT
    container_name: admin-ui

volumes:
  opensearch-data:
  postgres-data:
  minio-data:
  caddy-data:
