apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.name" . }}-config
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
data:
  # Rabbitmq env variables
  RABBITMQ_HOST: {{ .Values.rabbitmq.host | quote }}
  RABBITMQ_USERNAME: {{ .Values.rabbitmq.username | quote }}
  RABBITMQ_PORT: {{ .Values.rabbitmq.port | quote }}
  MP_MESSAGING_INCOMING_EVENTS_ROUTING_KEYS: noop

  # Opensearch env variables
  QUARKUS_OPENSEARCH_HOSTS: "{{ .Values.opensearch.host }}:{{ .Values.opensearch.port }}"
  QUARKUS_OPENSEARCH_USERNAME: {{ .Values.opensearch.username | quote }}

  # Database env variables
  QUARKUS_DATASOURCE_REACTIVE_URL: {{ .Values.postgresql.reactiveUrl | quote }}
  QUARKUS_DATASOURCE_USERNAME: {{ .Values.postgresql.username | quote }}
  QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION: 'none'
  QUARKUS_HIBERNATE_ORM_LOG_SQL: "false"

  # Quarkus env generic variables
  QUARKUS_HTTP_ACCESS_LOG_ENABLED: {{ .Values.config.httpAccessLog.enabled | quote }}
  QUARKUS_HTTP_ACCESS_LOG_PATTERN: {{ .Values.config.httpAccessLog.pattern | quote }}
  JAVA_DEBUG: "false"
  QUARKUS_SMALLRYE_GRAPHQL_UI_ALWAYS_INCLUDE: "true"
  QUARKUS_HTTP_CORS: {{ .Values.quarkus.HttpCors | quote }}
  QUARKUS_HTTP_CORS_ORIGINS: {{ .Values.quarkus.HttpCorsOrigin | quote }}
  QUARKUS_LOG_LEVEL: {{ .Values.quarkus.LogLevel | quote }}
  QUARKUS_LOG_CATEGORY__ORG_HIBERNATE__LEVEL: {{ .Values.quarkus.LogLevelHibernate | quote }}

  # Keycloak env variables
  QUARKUS_OIDC_AUTH_SERVER_URL: '{{ include "helper.keycloakURL" . }}/realms/master'
  QUARKUS_OIDC_CLIENT_ID: {{ .Values.keycloak.clientId | quote }}
  QUARKUS_REST_CLIENT_KEYCLOAK_CLIENT_URL: {{ include "helper.keycloakURL" . | quote }}
  OPENK9_AUTHSERVERURL_TEMPLATE: '{{ include "helper.keycloakURL" . }}/realms/{realm}'

  # Custom variables
  OPENK9_DATASOURCE_MULTITENANCY_ENABLED: 'true'
  OPENK9_DATASOURCE_ACL_QUERY_EXTRA_PARAMS_ENABLED: 'true'
  QUARKUS_GRPC_CLIENTS__TENANTMANAGER__HOST: {{ include "helper.tenantManagerHost" . | quote }}

  # Pekko env variables
  PEKKO_CLUSTER_BOOTSTRAP_SERVICE_NAME: {{ .Values.quarkus.PekkoClusterBootstrapServiceName | quote }}
  
  IO_OPENK9_SCHEDULING_PURGE_CRON : {{ .Values.scheduling.PurgeCron | quote }}
  IO_OPENK9_SCHEDULING_PURGE_MAX_AGE : {{ .Values.scheduling.PurgeMaxAge | quote }}
  IO_OPENK9_SCHEDULING_TIMEOUT : {{ .Values.scheduling.Timeout | quote }}
  IO_OPENK9_SCHEDULING_WORKERS_PER_NODE: {{ .Values.scheduling.WorkersPerNode | quote }}
  IO_OPENK9_SCHEDULING_CONSUMER_MAX_RETRIES: {{ .Values.scheduling.ConsumerMaxRetries | quote }}
  IO_OPENK9_SCHEDULING_CONSUMER_TIMEOUT: {{ .Values.scheduling.ConsumerTimeout | quote }}

  QUARKUS_DATASOURCE_REACTIVE_IDLE_TIMEOUT : {{ .Values.quarkus.ReactiveIdleTimeout | quote }}
  QUARKUS_DATASOURCE_REACTIVE_MAX_SIZE : {{ .Values.quarkus.ReactiveMaxSize | quote }}
  QUARKUS_LOG_CONSOLE_JSON:  {{ .Values.quarkus.LogConsoleJson | quote }}

  # JVM Memory variable
  JAVA_TOOL_OPTIONS: {{ .Values.jvm.toolOptions | quote }}

  # Opentelemetry env
  QUARKUS_OTEL_SDK_DISABLED: {{ .Values.otel.disabled | quote }}
  QUARKUS_OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: {{ .Values.otel.endpoint | quote }}