apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.name" . }}-config
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
data:
  # Rabbitmq env variables
  RABBITMQ_HOST: {{ .Values.rabbitmq.host | quote }}
  RABBITMQ_USERNAME: {{ .Values.rabbitmq.username | quote }}
  RABBITMQ_PORT: {{ .Values.rabbitmq.port | quote }}
  MP_MESSAGING_INCOMING_EVENTS_ROUTING_KEYS: {{ .Values.messaging.incoming.events.routingKeys | quote }}

  # Opensearch env variables
  QUARKUS_OPENSEARCH_HOSTS: '{{- join "," .Values.opensearch.host }}'
  QUARKUS_OPENSEARCH_USERNAME: {{ .Values.opensearch.username | quote }}

  # Database env variables
  QUARKUS_DATASOURCE_REACTIVE_URL: {{- if eq .Values.database.type "oracle" }}
    {{ .Values.database.oracle.reactiveUrl | quote }}
  {{- else if eq .Values.database.type "postgresql" }}
    {{ .Values.database.postgresql.reactiveUrl | quote }}
  {{- else }}
    "jdbc:postgresql://localhost:5432/unknown"  # default fallback
  {{- end }}

  QUARKUS_DATASOURCE_USERNAME: {{- if eq .Values.database.type "oracle" }}
    {{ .Values.database.oracle.username | quote }}
  {{- else if eq .Values.database.type "postgresql" }}
    {{ .Values.database.postgresql.username | quote }}
  {{- else }}
    "unknown"
  {{- end }}

  QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION: {{ .Values.hibernate.orm.databaseGeneration | quote }}
  QUARKUS_HIBERNATE_ORM_LOG_SQL: {{ .Values.hibernate.orm.logSql | quote }}

  # Quarkus env generic variables
  QUARKUS_HTTP_ACCESS_LOG_ENABLED: {{ .Values.config.httpAccessLog.enabled | quote }}
  QUARKUS_HTTP_ACCESS_LOG_PATTERN: {{ .Values.config.httpAccessLog.pattern | quote }}
  JAVA_DEBUG: {{ .Values.debug.enabled | quote }}
  QUARKUS_SMALLRYE_GRAPHQL_UI_ALWAYS_INCLUDE: {{ .Values.graphql.uiAlwaysInclude | quote }}
  QUARKUS_HTTP_CORS: {{ .Values.quarkus.HttpCors | quote }}
  QUARKUS_HTTP_CORS_ORIGINS: {{ .Values.quarkus.HttpCorsOrigin | quote }}
  QUARKUS_LOG_LEVEL: {{ .Values.quarkus.LogLevel | quote }}
  QUARKUS_LOG_CATEGORY__ORG_HIBERNATE__LEVEL: {{ .Values.quarkus.LogLevelHibernate | quote }}

  # Custom variables
  OPENK9_DATASOURCE_ACL_QUERY_EXTRA_PARAMS_ENABLED: {{ .Values.datasource.aclQueryExtraParamsEnabled | quote }}
  OPENK9_DATASOURCE_QUERY_PARSER_MAX_TEXT_QUERY_LENGTH: {{ .Values.queryParser.maxTextQueryLength | quote }}
  OPENK9_DATASOURCE_SEARCHER_SERVICE_MAX_SEARCH_PAGE_FROM: {{ .Values.search.page.from | quote }}
  OPENK9_DATASOURCE_SEARCHER_SERVICE_MAX_SEARCH_PAGE_SIZE: {{ .Values.search.page.size | quote }}
  OPENK9_DATASOURCE_QUERY_ANALYSIS_SEARCH_TEXT_LENGTH: {{ .Values.queryAnalysis.searchTextLength | quote }}
  QUARKUS_GRPC_CLIENTS__TENANTMANAGER__HOST: {{ include "helper.tenantManagerHost" . | quote }}

  # Pekko env variables
  PEKKO_CLUSTER_BOOTSTRAP_SERVICE_NAME: {{ .Values.quarkus.PekkoClusterBootstrapServiceName | quote }}
  
  IO_OPENK9_SCHEDULING_PURGE_CRON : {{ .Values.scheduling.PurgeCron | quote }}
  IO_OPENK9_SCHEDULING_PURGE_MAX_AGE : {{ .Values.scheduling.PurgeMaxAge | quote }}
  IO_OPENK9_SCHEDULING_TIMEOUT : {{ .Values.scheduling.Timeout | quote }}
  IO_OPENK9_SCHEDULING_WORKERS_PER_NODE: {{ .Values.scheduling.WorkersPerNode | quote }}
  IO_OPENK9_SCHEDULING_CONSUMER_MAX_RETRIES: {{ .Values.scheduling.ConsumerMaxRetries | quote }}
  IO_OPENK9_SCHEDULING_CONSUMER_TIMEOUT: {{ .Values.scheduling.ConsumerTimeout | quote }}
  IO_OPENK9_PIPELINE_HTTP_TIMEOUT: {{ .Values.pipeline.HttpTimeout | quote }}

  QUARKUS_DATASOURCE_REACTIVE_IDLE_TIMEOUT : {{ .Values.quarkus.ReactiveIdleTimeout | quote }}
  QUARKUS_DATASOURCE_REACTIVE_MAX_SIZE : {{ .Values.quarkus.ReactiveMaxSize | quote }}
  QUARKUS_LOG_CONSOLE_JSON:  {{ .Values.quarkus.LogConsoleJson | quote }}

  # JVM Memory variable
  JAVA_TOOL_OPTIONS: {{ .Values.jvm.toolOptions | quote }}

  # Opentelemetry env
  QUARKUS_OTEL_SDK_DISABLED: {{ .Values.otel.disabled | quote }}
  QUARKUS_OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: {{ .Values.otel.endpoint | quote }}