:root {
  --openk9-embeddable-dashboard--primary-color: #9c0e10;
  --openk9-embeddable-dashboard--secondary-color: #f7e5e6;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/Inter-Regular.woff2') format('woff2');
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.55);
  height: 5px;
}