apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.name" . }}-config
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
data:
  # Env variables
  ORIGINS: {{ .Values.cors.origins | quote }}
  LOGGING_LEVEL:  {{ .Values.log.level | quote }}

  # Opensearch env variables
  OPENSEARCH_HOST: "{{ .Values.opensearch.host }}:{{ .Values.opensearch.port }}"
  OPENSEARCH_USERNAME: {{ .Values.opensearch.username | quote }}

  # Grpc env variables
  GRPC_DATASOURCE_HOST: {{ .Values.openk9.datasource.host | quote }}
  GRPC_TENANT_MANAGER_HOST: {{ .Values.openk9.tenantManager.host | quote }}
  GRPC_EMBEDDING_MODULE_HOST: {{ .Values.openk9.embeddingModule.host | quote }}

  # Phoenix arize env variables
  ARIZE_PHOENIX_ENABLED: {{ .Values.phoenix.enabled | quote }}
  ARIZE_PHOENIX_ENDPOINT: {{ .Values.phoenix.endpoint | quote }}
  ARIZE_PHOENIX_PROJECT_NAME: {{ .Values.phoenix.projectName | quote }}

  # Retention env variables
  SCHEDULE: {{ .Values.retention.schedule | quote }}
  CRON_EXPRESSION: {{ .Values.retention.cronexpression | quote }}
  INTERVAL_IN_DAYS: {{ .Values.retention.interval | quote }}

  # Upload documents
  UPLOAD_DIR: {{ .Values.uploadDocuments.uploadDir | quote }}
  UPLOAD_FILE_EXTENSIONS: {{ .Values.uploadDocuments.uploadFileExtensions | quote }}
  MAX_UPLOAD_FILE_SIZE: {{ .Values.uploadDocuments.maxUploadFileSize | quote }}
  MAX_UPLOAD_FILES_NUMBER: {{ .Values.uploadDocuments.maxUploadFilesNumber | quote }}