stages:
  - check-dependencies
  - build
  - test
  - build-docker
  - deploy
  - push-github

include:
  - local: '/.gitlab/.gitlab-ci-search-frontend.yml'
  - local: '/.gitlab/.gitlab-ci-admin-frontend.yml'
  - local: '/.gitlab/.gitlab-ci-site.yml'
  - local: '/.gitlab/.gitlab-ci-datasource.yml'
  - local: '/.gitlab/.gitlab-ci-entity-manager.yml'
  - local: '/.gitlab/.gitlab-ci-ingestion.yml'
  - local: '/.gitlab/.gitlab-ci-searcher.yml'
  - local: '/.gitlab/.gitlab-ci-tenant-manager.yml'
  - local: '/.gitlab/.gitlab-ci-tika-no-ocr.yml'
  - local: '/.gitlab/.gitlab-ci-tika-ocr.yml'
  - local: '/.gitlab/.gitlab-ci-resources-validator.yml'
  - local: '/.gitlab/.gitlab-ci-file-manager.yml'
  - local: '/.gitlab/.gitlab-ci-tenant-frontend.yml'


push-github:
  stage: push-github
  image: alpine/git:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
  script:
    - git checkout main
    - git remote add public https://$GITHUB_TOKEN@github.com/smclab/openk9.git
    - git push public main

check-dependencies:
  stage: check-dependencies
  image: smclab/k9-ci-build-utils:latest
  only:
    refs:
      - main
      - 1.3.x
      - 427-introduzione-akka-cluster-per-rendere-datasource-scalabile
    changes:
      - core/**/*
  variables:
    OPENK9_CONTAINER_IMAGE_TAG: "427-introduzione-akka-cluster-per-rendere-datasource-scalabile"
    MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
    OPENK9_PROJECT_NAMES: "io.openk9.app:tenant-manager io.openk9.app:datasource io.openk9.app:searcher io.openk9.app:entity-manager io.openk9.app:file-manager io.openk9.app:ingestion io.openk9.app:resources-validator"
  script:
    - bash check_dependencies.sh
  cache:
    key: check_dependencies
    paths:
      - .m2/repository
  allow_failure: true