apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.name" . }}-config
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
data:
  # Java Debug
  JAVA_DEBUG: {{ .Values.debug.enabled | quote }}

  # Spring Gateway configuration
  SPRING_CLOUD_GATEWAY_SERVER_WEBFLUX_TRUSTED_PROXIES: {{ .Values.spring.gateway.trustedProxies | quote }}

  # Rabbitmq env variables
  SPRING_RABBITMQ_HOST: {{ include "helper.rabbitmqHost" . | quote }}
  SPRING_RABBITMQ_PORT: {{ .Values.rabbitmq.port | quote }}
  SPRING_RABBITMQ_USERNAME: {{ .Values.rabbitmq.username | quote }}

  # Database env variables
  SPRING_R2DBC_URL: {{ include "helper.r2dbcURL" . | quote }}
  SPRING_R2DBC_USERNAME: {{ .Values.database.postgresql.username | quote }}
  SPRING_LIQUIBASE_URL: {{ include "helper.liquibaseURL" . | quote }}
  SPRING_LIQUIBASE_USER: {{ .Values.database.postgresql.username | quote }}

  # OpenK9 services URLs
  IO_OPENK9_APIGW_SEARCHER-URL: {{ include "helper.searcherURL" . | quote }}
  IO_OPENK9_APIGW_DATASOURCE-URL: {{ include "helper.datasourceURL" . | quote }}
  IO_OPENK9_APIGW_RAG-URL: {{ include "helper.ragURL" . | quote }}