.DateRangePicker_picker {
  z-index: 2 !important;
}

.DateRangePickerInput_1 {
  display: flex !important;
}

.DateRangePickerInput {
  border: none !important;
  background: none !important;
  justify-content: space-between;
  align-items: center;
  padding-block: 4px !important;

}

.DateRangePickerInput__withBorder {
  @media (max-width: 480px) {
    margin: 26px !important;
  }
}

.DateRangePicker {
  width: 96%;
}

.DateRangePickerInput_arrow {
  display: none !important;
}

.DateInput.DateInput_1:first-child {
  width: 110px !important;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}


.DateInput.DateInput_1:last-child {
  width: 110px !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.DateInput_input {
  width: 110px !important;
  border-radius: 50px !important;
  padding-right: 0 !important;
  height: 0px!important;

}

.DateInput_input__focused_2 {
  width: inherit !important;
}

.DateInput {
  position: static !important;
}
.DateInput_input.DateInput_input_1:focus-visible {
  outline: black 2px solid !important;
  border: none !important;
  
}


.DateRangePickerInput_arrow {
  background-color: white !important;
}

.DateInput_input__focused {
  border: 0 !important;
}

.DateInput_input__focused {
  width: 88% !important;
}

.CalendarDay__selected,
.CalendarDay__selected:active {
  background: var(--openk9-embeddable-search--primary-color) !important;
  border: 2px solid var(--openk9-embeddable-search--secondary-active-color) !important;
}

.CalendarDay__selected_span {
  border: 2px solid var(--openk9-embeddable-search--secondary-active-color) !important;
  background: white !important;
  border-top: 2px solid var(--openk9-embeddable-search--secondary-active-color) !important;
  color: black !important;
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #e4e7e7 !important;
  color: inherit !important;
}

.CalendarDay__hovered_span {
  border: 2px solid var(--openk9-embeddable-search--secondary-active-color) !important;
  background: white !important;
  border-top: 2px solid var(--openk9-embeddable-search--secondary-active-color) !important;
  color: black !important;
}