.SingleDatePickerInput_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SingleDatePickerInput_calendarIcon_1 {
  display: flex;
}

.DateRangePickerVertical-date-title {
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #000000;
  margin: 5px 0;
}

.DateRangePickerVertical-startDate-container {
  margin: 0 0 10px 0;
}

.SingleDatePickerInput__showClearDate {
  padding-right: 0;
}

.SingleDatePickerInput_clearDate {
  margin: 0px 0px 0px 0px;
  top: 47%;
  right: 10%;
  background-color: #fff;
  padding: 0;
}

.SingleDatePickerInput_clearDate__default:focus, .SingleDatePickerInput_clearDate__default:hover {
  background-color: #fff;
  border-radius: 0;
}

.SingleDatePickerInput_clearDate__default:focus, .SingleDatePickerInput_clearDate__default:hover svg {
  fill: red;
}

.SingleDatePickerInput__disabled .SingleDatePickerInput_clearDate {
  background-color: #f2f2f2;
}