:root {
  --openk9-embeddable-search--primary-color: #c22525;
  --openk9-embeddable-search--border-color: #ced4da;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body > div {
  width: 400px;
}

button,
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--openk9-embeddable-search--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button,
input[type="submit"]:hover {
  color: white;
  background-color: var(--openk9-embeddable-search--primary-color);
}

.form-group {
  margin-bottom: 16px;
}

#kc-page-title {
  text-align: center;
  color: var(--openk9-embeddable-search--primary-color);
}

form label {
  padding-left: 16px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;

}

input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  border: 1px solid var(--openk9-embeddable-search--border-color);
  border-radius: 4px;
  margin-top: 8px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid var(--openk9-embeddable-search--primary-color);
}

#kc-header {
  text-align: center;
  size: 30px;
  font-size: 20px;
}

.alert-error {
  visibility: hidden;
}
.alertError{
  color: var(--openk9-embeddable-search--primary-color);
  border-radius: 4px;
  margin-left: 45px;
}

.logo {
  color: var(--openk9-embeddable-search--primary-color);
  margin-top: 30px;
}

#kc-form-buttons {
  margin-top: 8px;
}
.container {
      width: 380px;
      padding: 20px;
      margin: auto;
      background-color: #f2f2f2;
      border-radius: 10px;
      box-shadow: 0 0 10px #999;
      justify-content: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.05ch;
}

.logo{
  max-height: 100px;
  margin-bottom: 30px;
}

.title{
  font-weight: bold;
  font-size: xx-large;
 
}

.firstTitle{
  font-size: xx-large;
  margin-left: 10px;
}

.containerError{
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}