/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}

.titleHeroBanner {
  color: initial;
  font-size: 70px;
  max-width: 500px;
  letter-spacing: -0.08ch;
  font-weight: 600;
}

.descriptionHeroBanner {
  font-weight: 500;
  font-size: 20px;
  max-width: 500px;
  color: initial;
}

@media screen and (max-width: 966px) {
  .titleHeroBanner {
    font-size: 52px;
  }
}

@media (max-width: 768px) {
  .titleHeroBanner {
    font-size: 36px;
  }

  .descriptionHeroBanner {
    font-size: 16px;
  }
}

.subtitleHeroBanner {
  letter-spacing: -0.05ch;
  color: var(--ifm-color-primary);
  font-weight: 700;
  margin-bottom: 0;
}

.primary {
  color: var(--ifm-color-primary);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.tecnicalFeatures {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature {
  width: 25%;
  padding-right: 16px;
}

.keyPoint {
  position: relative;
}

.funtionalFeaturesContent {
  display: flex;
  flex-wrap: wrap;
}

.greySection {
  background-color: #f9f9f9;
}

.sectionLandingPage {
  overflow: hidden;
}

.plugins {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.plugin {
  width: 20%;
}

.pricingCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.newsletter {
  display: flex;
  align-items: center;
}

.newsletterEmail {
  width: 100%;
  position: relative;
}

.inputNewsletter {
  background-color: #efefef;
  padding: 16px 32px;
  width: 100%;
  border-radius: 50px;
  color: #676767;
  border: none;
  font-size: 22px;
}

.submitNewsletter {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.submitNewsletterIcon {
  height: 24px;
}

.newsletterHeader {
  width: 80%;
  margin-right: 40px;
}

@media (max-width: 1200px) {
  .feature {
    width: 50%;
  }

  .plugin {
    width: 33%;
  }

  .newsletterHeader {
    width: auto;
  }

  .newsletter {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .plugin {
    width: 50%;
  }

  .newsletterHeader {
    margin-right: 0;
  }

  .inputNewsletter {
    font-size: 16px;
    padding: 8px 16px;
  }

  .submitNewsletter {
    position: relative;
    margin-top: 8px;
  }
}

@media (max-width: 576px) {
  .feature {
    width: 100%;
    padding-right: 0;
  }

  .plugin {
    width: 100%;
  }
}

.pageTitle {
  font-size: 50px;
  max-width: 700px;
}

.secondRow {
  display: inline-block;
}

.blackText {
  color: initial;
}

.pageDescription {
  font-size: 18px;
  max-width: 760px;
  margin-bottom: 0;
  display: block;
}

.section {
  margin-bottom: 32px;
}

.sectionSubtitle {
  font-size: 22px;
  text-transform: uppercase;
}

.pluginContainer {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: 32px;
  }

  .pageDescription {
    font-size: 14px;
  }
}

.heroRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.heroTextContainer {
  margin-top: 1em;
  margin-bottom: 1em;
}

.bannerAnimation {
  flex-grow: 1;
  flex-shrink: 1;
}
