.button {
    background-color: var(--ifm-color-primary);
    color: #fff;
    font-size: 24px;
    font-weight: 600px;
    padding: 2px 32px;
    border-radius: 50px;
    display: block;
    width: fit-content;
}

.button:hover {
    background-color: var(--ifm-color-primary-dark);
    color: #fff;
    text-decoration: none;
}

.button svg {
    margin-left: 4px;
    transform: translateY(20%);
}