.featureCard {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 16%);
  max-width: calc(33% - 40px);
  margin-bottom: 64px;
  margin-right: 64px;
}

.featureCard:nth-child(3n) {
  margin-right: 0;
}

.featureCardImage {
  width: 100%;
  border-radius: 8px;
}

.featureCardText {
  padding: 16px;
}

.featureCardTitle {
  font-size: 26px;
  font-weight: 900;
}

.featureCardDescription {
  font-size: 16px;
  margin-bottom: 0;
}

@media (max-width: 1330px) {
  .featureCard {
    max-width: calc(50% - 16px);
    margin-bottom: 32px;
    margin-right: 32px;
  }

  .featureCard:nth-child(3n) {
    margin-right: 32px;
  }

  .featureCard:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .featureCard {
    max-width: 100%;
    margin-bottom: 24px;
    margin-right: 0;
  }

  .featureCard:nth-child(3n) {
    margin-right: 0;
  }

  .featureCardTitle {
    font-size: 20px;
  }

  .featureCardDescription {
    font-size: 14px;
  }
}
