.screenSection {
    display: flex;
    margin-bottom: 40px;
    height: 400px;
}

.rightImage {
    flex-direction: row-reverse;
}

.screenText {
    max-width: 468px;
    display: flex;
    align-items: center;
}

.screenImage {
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100vw - 668px);
    height: 100%;
    position: absolute;
    top: 0;
    width: 60%;
}

.imageToLeft {
    left: 0;
    border-radius: 0 20px 20px 0;
}

.imageToRight {
    right: 0;
    border-radius: 20px 0 0 20px;
}