input {
  rabbitmq {
    host => "rabbitmq"
    port => 5672
    user => "openk9"
    password => "openk9"
    exchange => "elasticsearch-index-writer-topic"
    exchange_type => "topic"
    key => "entity"
  }
}

output {
  elasticsearch {
  	hosts => ["elasticsearch:9200"]
    index => "test"
  }
}