beautifulsoup4==4.14.3
dateparser==1.4.0
fastapi==0.136.1
pydantic==2.13.3
pydantic_core==2.46.3
requests==2.33.1
scrapy-playwright==0.0.46
Scrapy==2.15.2
scrapyd-client==2.0.3
scrapyd==1.6.0
uvicorn[standard]==0.46.0
starlette==1.0.0
