apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.name" . }}-config
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
data:
  RABBITMQ_HOST: {{ .Values.rabbitmq.host | quote }}
  RABBITMQ_USER: {{ .Values.rabbitmq.user | quote }}
  RABBITMQ_PASS: {{ .Values.rabbitmq.password | quote }}
  RABBITMQ_RETRY_DELAY_MS: {{ .Values.rabbitmq.retryDelayMs | quote }}
  RABBITMQ_MAX_RETRIES: {{ .Values.rabbitmq.maxRetries | quote }}
  {{- if .Values.phoenix.collectorEndpoint }}
  PHOENIX_COLLECTOR_ENDPOINT: {{ .Values.phoenix.collectorEndpoint | quote }}
  {{- end }}
  {{- if .Values.phoenix.projectName }}
  PHOENIX_PROJECT_NAME: {{ .Values.phoenix.projectName | quote }}
  {{- end }}
  {{- if .Values.phoenix.apiKey }}
  PHOENIX_API_KEY: {{ .Values.phoenix.apiKey | quote }}
  {{- end }}
