aiofiles==24.1.0
aiohttp==3.13.3
apscheduler==3.11.0
arize-phoenix-client==2.1.0
arize-phoenix-evals==2.11.0
arize-phoenix-otel==0.15.0
arize-phoenix==13.15.0
authlib==1.6.5
cryptography==44.0.1
fastapi==0.128.0
filelock==3.20.1
grpcio-tools==1.78.0
grpcio==1.78.0
h11==0.16.0
ipython==9.11.0
langchain-aws==1.4.0
langchain-classic==1.0.3
langchain-core==1.2.19
langchain-docling==2.0.0
langchain-google-community==3.0.5
langchain-google-genai==4.2.1
langchain-ibm==1.0.4
langchain-ollama==1.0.1
langchain-openai==1.1.11
langchain-text-splitters==1.1.1
langchain==1.2.12
langgraph-checkpoint==2.1.2
langgraph-opensearch==0.1.5
langgraph==1.1.2
llama-index-cli==0.5.6
llama-index-core==0.14.18
llama-index==0.14.18
openinference-instrumentation-langchain==0.1.61
opensearch-py==3.1.0
protobuf==6.33.5
pyjwt==2.12.1
python-dotenv==1.2.2
python-multipart==0.0.22
requests==2.32.5
setuptools==82.0.1
sse-starlette==3.3.3
uvicorn==0.42.0
