apscheduler==3.11.0
fastapi==0.115.11
grpcio==1.71.0
grpcio-tools==1.71.0
langchain==0.3.21
langchain-cli==0.0.36
langchain-community==0.3.20
langchain-core==0.3.46
langchain-google-vertexai==2.0.15
langchain_ibm==0.3.8
langchain-ollama==0.2.3
langchain-openai==0.3.9
opensearch-py==2.8.0
python-dotenv==1.0.1
python-keycloak==5.3.1
requests==2.32.3
openinference-instrumentation-langchain==0.1.26
arize-phoenix==8.21.0