aiohttp==3.13.3
aiofiles==24.1.0
apscheduler==3.11.0
arize-phoenix-otel==0.9.1
authlib==1.6.5
cryptography==44.0.1
fastapi==0.128.0
filelock==3.20.1
grpcio-tools==1.71.0
grpcio==1.71.0
h11==0.16.0
langchain_ibm==0.3.8
langchain-cli==0.0.36
langchain-community==0.3.27
langchain-core==0.3.81
langchain-docling==1.0.0
langchain-google-vertexai==2.0.15
langchain-ollama==0.2.3
langchain-openai==0.3.9
langchain-text-splitters==0.3.9
langchain==0.3.27
llama-index-cli==0.4.2
llama-index-core==0.12.41
llama-index==0.12.41
openinference-instrumentation-langchain==0.1.39
opensearch-py==2.8.0
protobuf==5.29.5
python-dotenv==1.0.1
python-multipart==0.0.20
pyjwt==2.10.1
requests==2.32.4
setuptools==78.1.1