/* COPY, CUSTOMIZE and INCLUDE this stylesheet to adapt look&feel */

:root {
  --openk9-embeddable-search--primary-color: #c22525;
  --openk9-embeddable-search--active-color: #c22525;
  --openk9-embeddable-search--border-color: #ced4da;
  --openk9-embeddable-search--input-padding: 16px;
  --openk9-embeddable-search--primary-text-color: #000000;
  --openk9-embeddable-search--secondary-text-color: #62696e;
  --openk9-embeddable-search--primary-background-color: #ffffff;
  --openk9-embeddable-search--secondary-background-color: #f7f7f7;
}

.openk9-embeddable-search--input-container {
  border: 1px solid var(--openk9-embeddable-search--border-color);
  border-radius: 4px;
  background-color: white;
}

.openk9-embeddable-search--result-container {
  margin: 16px 16px 0px 16px;
  border: 1px solid var(--openk9-embeddable-search--border-color);
  border-radius: 4px;
}

.openk9-embeddable-search--result-container:hover {
  border: 1px solid var(--openk9-embeddable-search--active-color);
}

.openk9-embeddable-search--result-badge {
  padding: 8px 16px;
  background-color: var(--openk9-embeddable-search--secondary-background-color);
  margin-right: 8px;
  border-radius: 4px;
}
