/* COPY, CUSTOMIZE and INCLUDE this stylesheet to adapt look&feel */

:root {
  --openk9-embeddable-search--primary-color: #c22525;
  --openk9-embeddable-search--active-color: #c22525;
  --openk9-embeddable-search--secondary-active-color: #c0272b;
  --openk9-embeddable-search--border-color: #ced4da;
  --openk9-embeddable-search--input-padding: 16px;
  --openk9-embeddable-search--primary-text-color: #000000;
  --openk9-embeddable-search--secondary-text-color: #62696e;
  --openk9-embeddable-search--primary-background-color: #ffffff;
  --openk9-embeddable-search--secondary-background-color: #eeeeee;
  --openk9-embeddable-search--secondary-background-tab-color: #fafafa;
  --openk9-embeddable-search--primary-background-tab-color: #d54949;
  --openk9-embeddable-tabs--primary-color: #3f3f46;
  --openk9-embeddable-active-border-card--primary-color: #a1a1aa;
  --openk9-embeddable-not-active-border-card--primary-color: #e4e4e7;
  --openk9-grey-stone-600: #52525b;
}

.openk9-embeddable-search--input-container {
  border: 1px solid var(--openk9-embeddable-search--border-color);
  border-radius: 4px;
  background-color: white;
}

body {
  background-color: var(--openk9-embeddable-search--secondary-background-color);
  overflow-x: hidden !important;
}

.openk9-embeddable-search--result-badge {
  padding: 8px 16px;
  background-color: var(--openk9-embeddable-search--secondary-background-color);
  margin-right: 8px;
  border-radius: 4px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.no-scroll {
  overflow: hidden !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.55);
  height: 5px;
}
