.os-theme-dark.os-host-transition>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
	@media (max-width: 480px) {
		width: 3px;
	}
}

.os-theme-dark>.os-scrollbar-horizontal .os-scrollbar-handle:before {
	@media  (max-width: 480px) {
		height: 3px;
	}
}

.os-theme-dark.os-host-transition>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
	@media (max-width: 480px) {
		height: 3px;
	}
}